#username {
    margin-top: 5%;
    margin-left: 40%;
    font-family: cursive;
    font-size: x-large;
}

#form {
    margin-left: 40%;
    margin-top:10%;
    font-family: cursive;
}

body {
    background-color:paleturquoise;
}